<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>@@title Settings</title>
    </head>

    <body>

        <h1>@@title Settings</h1>

        <p>Please enter the address and login information for your WebDAV server below, and click <em>Save</em>.</p>

        <form>
            <div>
                <label>
                    <span>URL</span>
                    <input type="text" id="url" data-option-key="url" />
                </label>
            </div>
            <div>
                <label>
                    <span>Username</span>
                    <input type="text" id="username" data-option-key="username" />
                </label>
            </div>
            <div>
                <label>
                    <span>Password</span>
                    <input type="password" id="password" data-option-key="password" />
                </label>
            </div>

            <div>
                <button id="save">Save</button>
            </div>

            <div id="status"></div>
        </form>

        <script src="data/js/vendor/URI-1.17.0.min.js"></script>
        <script src="data/js/vendor/jquery-2.2.0.min.js"></script>
        <script src="options.js"></script>
    </body>
</html>
