<!DOCTYPE html>
<html>
<head>
    <title>%PKG.TITLE% options</title>
</head>
<body>

<label>
    URL
    <input type="text" id="url">
</label>
<label>
    Username
    <input type="text" id="username">
</label>
<label>
    Password
    <input type="password" id="password">
</label>

<div id="status"></div>

<button id="save">Save</button>


<script src="data/js/vendor/URI-1.17.0.min.js"></script>
<script src="data/js/vendor/jquery-2.2.0.min.js"></script>
<script src="options.js"></script>
</body>
</html>
